<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <title>Title</title>
    <script src="webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/indexVue.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios-0.18.0.js"></script>
    <style>
        button {
            margin-left: 40px;
        }

        table {
            font-size: 20px;
            text-align: center;
            margin: auto;
            margin-top: 50px;
        }

        .prompt {
            position: absolute;
            margin-left: 47%;
            top: 15px;
            color: red;
        }
    </style>
</head>
<body>
<div id="loginTable">
    <table>
        <tr>
            <th colspan="2">登陆</th>
        </tr>
        <tr>
            <td>学号</td>
            <td><input type="text" placeholder="请输入学号" v-model="loginAccount.number"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="text" placeholder="请输入密码" v-model="loginAccount.password"></td>
        </tr>
        <tr>
            <td>
                <button @click="login()">登陆</button>
            </td>
            <td>
                <button @click="showRegister()">注册</button>
            </td>
        </tr>
        <p class="prompt">{{loginPrompt}}</p>
    </table>
</div>

<div id="registerTable">
    <table>
        <tr>
            <th colspan="2">注册</th>
        </tr>
        <tr>
            <td>姓名</td>
            <td><input type="text" placeholder="请输入姓名" v-model="registerAccount.username"></td>
        </tr>
        <tr>
            <td>学号</td>
            <td><input type="text" placeholder="请输入姓名" v-model="registerAccount.number"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="text" placeholder="请输入密码" v-model="registerAccount.password"></td>
        </tr>
        <tr>
            <td>
                <button @click="register()" >注册</button>
            </td>
            <td>
                <button @click="showLogin()">登陆</button>
            </td>
        </tr>
        <p class="prompt">{{registerPrompt}}</p>
    </table>
</div>
</body>
</html>